#o-icon-preroll {
  & .play {
    stroke: var(--color-play-button);
  }
  & .record {
    stroke: white;
    fill: var(--color-record-button);
  }
}

#o-icon-region {
  stroke: #717474;
  fill: #567272;
}
