#transport-playback
  include ./playback.button.pug
  +ButtonPlayback#play
  +ButtonPlayback#pause
  +ButtonPlayback#record
  +ButtonPlayback#stop
  +ButtonPlayback#save
  +ButtonPlayback#abort
  +ButtonPlayback#redo
  +ButtonPlayback#undo