include ./screen.button.pug

#transport-screen
  +ButtonScreen#rewind
  .c-screen__info
    #transport-screen-status
    #transport-screen-position
    #transport-screen-range
      .cursor
        svg.o-icon(viewBox="0 0 100 100")
          use(xlink:href="#o-icon-location")

  +ButtonScreen#fforward