include ./screen.button.pug

#transport-screen
  +ButtonScreen#rewind
  .c-screen__info
    #transport-screen-status
    #transport-screen-position
    //- include ./screen.range.pug
  +ButtonScreen#fforward