include ./screen.button.pug

#transport-screen
  +ButtonScreen#rewind
  .info
    #transport-screen-status ...initializing
    #transport-screen-positio ''
    include ./screen.range.pug
  +ButtonScreen#fforward