#transport-settings
  include ../../components/button.pug

  +ButtonBase.-multi
    +ButtonBase
      +Button.c-button__settings#position-unit()
    +ButtonBase
      +Button.c-button__settings#menu()
    +ButtonBase
      +Button.c-button__settings#display-range()
  +ButtonBase.-multi
    +ButtonBase
      +Button.c-button__settings#preroll()
    +ButtonBase
      +Button.c-button__settings#metronome()
    +ButtonBase
      +Button.c-button__settings#loop()
