#transport-settings
  include ../../components/button.pug

  +ButtonBase
    +ButtonBase
      +Button.c-button--settings#position-unit()
    +ButtonBase
      +Button.c-button--settings#menu()
    +ButtonBase
      +Button.c-button--settings#display-range()
  +ButtonBase
    +ButtonBase
      +Button.c-button--settings#preroll()
    +ButtonBase
      +Button.c-button--settings#metronome()
    +ButtonBase
      +Button.c-button--settings#loop()
