#settings
  include ../../components/button.pug

  +ButtonBase.-multi
    +Button#position-unit()
    +Button#menu()
    +Button#display-range()
  +ButtonBase.-multi
    +Button#preroll()
    +Button#metronome()
    +Button#loop()
