#transport-settings
  include ../../components/button.pug

  +ButtonBase
    +Button#position-unit()
    +Button#menu()
    +Button#display-range()
  +ButtonBase
    +Button#preroll()
    +Button#metronome()
    +Button#loop()
