#transport-settings
  include ../../components/button.pug

  +ButtonBase
    +ButtonBase
      +Button#position-unit()
    +ButtonBase
      +Button#menu()
    +ButtonBase
      +Button#display-range()
  +ButtonBase
    +ButtonBase
      +Button#preroll()
    +ButtonBase
      +Button#metronome()
    +ButtonBase
      +Button#loop()
