@import './style.screen.pcss';
@import './style.screen.range.pcss';
@import './style.screen.button.pcss';
@import './style.settings.pcss';
@import './style.settings.button.pcss';
@import './style.playback.pcss';
@import './style.playback.button.pcss';

#transport {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  background: var(--color-button_dark-bg);
}
