#transport-settings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 2;
  position: relative;
  background: linear-gradient(
    to top,
    var(--color-button_light-bg) -5%,
    var(--color-button_dark-bg) 20%
  );

  @media screen and (orientation: landscape) {
    flex: 1.2;
    flex-wrap: unset;
  }

  & > .c-button {
    flex: 1 1 auto;
    flex-direction: row;
    height: auto;
  }
}
