.c-button__screen {
  background-color: transparent;
  flex: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 50ms ease-out;
  border: none;

  &:hover {
    opacity: 0.4;
  }
  &:active {
    opacity: 0.8;
  }

  & .o-icon {
    width: 60%;
    height: 60%;
  }
}
