symbol#o-icon-displayrange(viewBox="0 0 512 512")
  use(xlink:href="#o-icon-region" transform="scale(1, 0.75) translate(0, 256)")
  use.marker(xlink:href="#o-icon-marker" transform="scale(0.5, 0.75) translate(-96, 96)")
  use.marker(xlink:href="#o-icon-marker" transform="scale(0.5, 0.75) translate(624, 96)")
  use.play(
    xlink:href="#o-icon-play"
    transform="scale(0.25, 0.25) translate(768, 1280)"
  )

symbol#o-icon-displayrange2(viewBox="0 0 512 512")
  use(xlink:href="#o-icon-displayrange")
  text(x="50%" y="35%") 2

symbol#o-icon-displayrange4(viewBox="0 0 512 512")
  use(xlink:href="#o-icon-displayrange")
  text(x="50%" y="35%") 4

symbol#o-icon-displayrange8(viewBox="0 0 512 512")
  use(xlink:href="#o-icon-displayrange")
  text(x="50%" y="35%") 8
