- var size = 0.7;
- var margin = (1 - size) / 2;
symbol#o-icon-markerunit(viewBox="0 0 512 512")
  use(xlink:href="#o-icon-moveedit")
  use(xlink:href="#o-icon-marker" transform=`scale(${size}) translate(${512 * margin} ${512 * margin})`)
