symbol#o-icon-wholenote(viewBox="0 0 135.47 83.723")
  path(
    fill-rule="evenodd"
    d="m88.681 66.818c2.2835-2.6935 3.7984-5.3831 4.7458-8.9281 1.1963-4.0555 0.89595-8.8529-0.01975-12.443-1.0741-4.5853-2.4022-9.5717-3.8264-13.548-2.8499-7.4154-5.7983-12.478-9.967-16.248-5.6828-5.3662-14.053-8.3668-22.987-5.6269-3.5777 1.0973-6.5586 2.9557-8.5347 4.9702-1.1512 1.1526-2.2736 2.5823-3.1451 3.9748-2.2101 3.5554-3.2741 6.2501-3.6291 10.038-0.27533 3.2445 0.1989 6.521 0.79728 9.4008 0.98862 5.0729 2.3932 9.7031 3.5106 13.179 1.1087 3.3259 2.3633 6.539 4.0262 9.4364 1.1658 2.2248 2.781 4.3205 4.2782 6.0192 1.5511 1.7052 3.1804 3.0841 4.8658 4.1758 2.645 1.6137 5.3763 2.5891 8.1184 3.0604 5.0306 1.0377 10.648 0.15184 13.609-1.2528 3.4529-1.5142 6.0357-3.7134 8.1579-6.2083zm-19.478-67.041c-18.734-0.65422-35.862 3.4421-48.425 10.613-12.564 7.1712-20.578 17.438-20.985 29.1-0.40724 11.662 6.8717 22.461 18.904 30.491 12.033 8.0302 28.833 13.313 47.567 13.967s35.864-3.444 48.427-10.615c12.564-7.1712 20.578-17.436 20.985-29.098 0.40725-11.662-6.8716-22.463-18.904-30.493-12.033-8.0301-28.835-13.311-47.569-13.966z"
  )/
