.o-button {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.-single, &--multi {
    position: relative;
    transform-style: preserve-3d;
  }

  &.hidden {
    display: none;
  }
}
