.c-button {
  $self: &;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &.-hidden {
    display: none !important;
  }

  & button {
    cursor: pointer;
  }

  &.-base {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
  }

  & .o-icon {
    z-index: 1;
    margin: auto;
    width: 40%;
    height: 40%;
  }
}
