mixin btn_setting(buttons)
  .o-button
    .o-button--multi
      for each in buttons
        +btn_multi(each)

mixin btn_multi(id)
  .o-button--multi_partial(id=id + "-button")= id
    //- .o-icon(id=id + "-button")
      svg(viewBox="0 0 100 100")
        use(xlink:href="#o-icon-" + id)

mixin btn_playback(id)
  .o-button.-single(id=id + "-button")
    .o-icon
      svg(viewBox="0 0 100 100")
        use(xlink:href="#o-icon-" + id)
