#screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
  min-height: 75px;
  max-height: 150px;
  position: relative;
  z-index: 100;

  .c-screen__info {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
}
