svg(display="None")
  defs
    include ./icons/Abort.pug
    include ./icons/BeatUnit.pug
    include ./icons/FForward.pug
    include ./icons/Grid.pug
    include ./icons/HideRange.pug
    include ./icons/Location.pug
    include ./icons/Loop.pug
    include ./icons/Marker.pug
    include ./icons/MarkerUnit.pug
    include ./icons/MarkerRange.pug
    include ./icons/MeasureUnit.pug
    include ./icons/Menu.pug
    include ./icons/Metronome.pug
    include ./icons/MoveEdit.pug
    include ./icons/NoteHeads.pug
    include ./icons/Pause.pug
    include ./icons/Play.pug
    include ./icons/Preroll.pug
    include ./icons/QuarterNote.pug
    include ./icons/Record.pug
    include ./icons/Redo.pug
    include ./icons/Region.pug
    include ./icons/RegionRange.pug
    include ./icons/Rewind.pug
    include ./icons/Save.pug
    include ./icons/Stop.pug
    include ./icons/Triangle.pug
    include ./icons/Undo.pug
    include ./icons/WholeNote.pug
