svg(xmlns="http://www.w3.org/2000/svg" height="0")
  defs
    include abort
    include backward
    include forward
    include pause
    include play
    include record
    include stop
    include undo
