symbol#o-icon-notehead-whole(viewBox="0 -135 497 270")
  path(d="M215 114c-50 0 -71 -42 -71 -88c0 -79 60 -140 139 -140c50 0 70 42 70 88c0 79 -59 140 -138 140zM497 0c0 -43 -35 -74 -73 -95c-54 -29 -114 -40 -175 -40s-122 11 -176 40c-38 21 -73 52 -73 95s35 74 73 95c54 29 115 40 176 40s121 -11 175 -40 c38 -21 73 -52 73 -95z")/
symbol#o-icon-notehead-half(viewBox="0 -135 343 270")
  path(d="M316 67c0 25 -20 42 -42 42c-4 0 -9 -1 -13 -2c-31 -9 -79 -41 -117 -65s-86 -55 -107 -80c-7 -8 -10 -19 -10 -29c0 -25 20 -42 42 -42c4 0 9 1 13 2c31 9 79 41 117 65s86 55 107 80c7 8 10 19 10 29zM265 135c44 0 78 -21 78 -68c0 -19 -5 -39 -11 -57 c-12 -37 -33 -71 -65 -93c-53 -36 -114 -52 -189 -52c-44 0 -78 21 -78 68c0 19 5 39 11 57c12 37 33 71 65 93c53 36 114 52 189 52z")/
symbol#o-icon-notehead-filled(viewBox="0 -135 326 270")
  path(d="M222 135c53 0 104 -27 104 -86c0 -71 -56 -120 -103 -148c-36 -22 -76 -36 -118 -36c-53 0 -105 27 -105 86c0 71 57 120 104 148c36 22 76 36 118 36z")/
